---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Bienvenido a mi blog";
import Navigation from '../components/Navigation.astro';
---
<Navigation />
<BaseLayout pageTitle={pageTitle}>
  <h2>Gracias por estar aquí</h2>
  <h3>En este blog compartire un poco sobre mi y mi conocimiento</h3>
</BaseLayout>