---
import Social from './Social.astro';
---
<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>
<footer>  
    
  <a href={`https://paxxtor.github.io/`}>Portafolio</a>
    <Social platform="github" username="paxxtor" />
  <a href={`https://www.linkedin.com/in/miguel-estuardo-paxtor-tecum-88005621b/`}>linkedin</a>
    
</footer>
<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>